#Database
DB_HOST = your_host
DB_NAME = your_db
DB_USER = your_user 
DB_PASS = your_pass
DB_PORT = 3306

#JWT security
JWT_SECRET = your_secret

#File Upload
MAX_SIZE = max_upload_file_size_In_octet

#System
DEBUG_MODE = true

# SMTP
SMTP_USER = user@example.com
SMTP_PASS = password
FROM_EMAIL = user@example.com
FROM_NAME= Admin
SMTP_HOST = smtp.example.com
SMTP_PORT = 587
MAX_ATTACHMENT = 10 # in Mo

#Logs
# values should be empty. If so, logs are writen in default log file.
ERROR_LOG_PATH = logs/error
WARNING_LOG_PATH = logs/warning
INFO_LOG_PATH = logs/info

#CORS
ALLOW_ORIGIN = *