#Database
host = your_host
db = your_db
user = your_user 
pass = your_pass
port = 3306

#JWT security
secret = your_secret

#File Upload
maxsize = max_upload_file_size_In_octet

#System
debug_mode = true

# SMTP
smtp_user = user@example.com
smtp_pass = password
from_email = user@example.com
from_name= Admin
smtp_host = smtp.example.com
smtp_port = 587
max_attachment = 10 # in Mo

#Logs
# values should be empty. If so, logs are writen in default log file.
error_log_path = logs/error
warning_log_path = logs/warning
info_log_path = logs/info